extends ../layout/index

block contenido
	h1(class="text-center text-4xl mb-8 uppercase bg-gradient-to-t bg-clip-text text-transparent font-bold from-sky-500 from- via-purple-400 via-40% to-cyan-300 to-") #{pagina}
	
	a(href="productos/crear" class="bg-blue-600 hover:bg-blue-800 uppercase py-2 px-4 w-full sm:w-auto rounded text-center inline-block items-center text-yellow-200 ") Crear productos