header(class="bg-blue-600 py-3 flex justify-between items-center")
	div
		h1(class="px-4 text-7xl bg-gradient-to-t bg-clip-text text-transparent font-bold from-sky-500 from- via-purple-400 via-40% to-cyan-300 to-") BRM 
		span(class="px-4 bg-gradient-to-t bg-clip-text text-transparent font-bold from-sky-500 from- via-purple-400 via-40% to-cyan-300 to-") GRANDES INTERACCIONES

	if navegacion
		nav(class="text-sm mr-5  text-yellow-200 gap-5")
			a(href="/mis-productos") Crear productos 
			a(href="/perfil") mi Perfil 
			a(href="/cerrar-sesion" class="bg-blue-900 py-2 px-10 rounded-lg ml-2 hover:bg-blue-700 uppercase") cerrar session 