doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Prueba BRM
		link(rel="stylesheet", href="/css/app.css")
	body.min-h.screen
		//- header(class="bg-blue-600 py-3")
		//- 		h1(class="px-4 text-7xl bg-gradient-to-t bg-clip-text text-transparent font-bold from-sky-500 from- via-purple-400 via-40% to-cyan-300 to-") BRM 
		//- 		span(class="px-4 bg-gradient-to-t bg-clip-text text-transparent font-bold from-sky-500 from- via-purple-400 via-40% to-cyan-300 to-") GRANDES INTERACCIONES
		include header 


		main(class="mx-auto container mt-10 px-2") 
			
			block contenido 